* {
  margin: 0;
  padding: 0;  
}

body {
  box-sizing: border-box;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;  
}

a {
  text-decoration: none;
  color: #fff;
}

@font-face {
  font-family: Avalon;
  src: url(Avalon_Bold.ttf);
}



h1 {
  font-family: Avalon, sans-serif;
  font-size: 1.1em;
  font-weight: 700;
}

.p {
  margin-bottom: 0.45rem;
  font-family: sans-serif;
  font-weight: 500;
}

.pp {
  font-size: 10px;
  margin-top: 0.45rem;
  display: flex;
  align-items: center;
}

.md-6 {
  margin-left: 0.5em;
  margin-right: 0.2em;
  font-size: 10px;
  color: grey;
}

header {
  width: 100%;
  max-width: 750px;
  position: fixed;
  background: #fff;
}

.second-nav {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.logo-img {
  height: 100%;
}

.icons {
  display: flex;
}

.icons div {
  border-left: 1px solid lightgrey;
  padding: 0.75em;
}

.menu-icon {
  color: #f74222;
}

.icon-search {
  color: grey;
}

.yellow-separator {
  text-align: center;
  max-width: 750px;
  padding: 1.5em;
  margin: 0;
  background: #fcdd33;
  font-size: 13px;
}

.top-section {
  display: flex;
  flex-direction: column;
  max-width: 750px;  
}

.insights {
  position: relative;
  border: 1px solid magenta;
  margin: 0.5em;
  z-index: -1;
}

.insights-img {
  width: 100%;  
}

.insights::after {
  display: block;
  position: relative;  
  margin-top: -250px; 
  height: 250px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(89,89,89,0.39) 12%, rgba(0,0,0,0.43) 17%, rgba(102,102,102,0.49) 25%, rgba(44,44,44,0.58) 37%, rgba(71,71,71,0.6) 39%, rgba(17,17,17,0.76) 60%, rgba(43,43,43,0.88) 76%, rgba(40,40,40,200) 79%, rgba(28,28,28,255) 91%, rgba(19,19,19,255) 100%);
  content: '';
}

.insights-inner-div {  
  position: absolute;
  bottom: 1em;
  color: #fff;
  left: 1em;
  z-index: 1;
}

.funding {
  background: #f42;
}

.funding-amount,
.funding-series {
  background: #ff4422;
}

.funding-logo img {
  width: 60px;
}



footer {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  background: #131313;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.social-list {
  padding: 1em;
}

.social-list a {
  display: inline-block;
  background: #333333;
  padding: 0.75em;
  /* margin: 0.5em; */
  border-radius: 60%;
}

.site-contact {
  font-size: 0.70em;
  padding-top: 2em;
}

.site-contact a {
  margin:0.25em;
}

.copyrights {
  background: black;
  color: white;
  font-size: 13px;
  padding: 3em;
}

.copyrights img {
  width:40px;
  color: white;
}
