* {
  margin: 0;
  padding: 0;  
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  width: 100%;
  max-width: 750px;
  position: fixed;
  background: #fff;
}

.second-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 50px;
  padding: 0.75em;
  border: 1px solid magenta;
}

.icons {
  display: flex;
  /* padding: 1em;   */
}

.icons div {
  border: 1px solid magenta;
  padding: 0.75em;
}

.yellow-separator {
  text-align: center;
  max-width: 750px;
  padding: 1.5em;
  background: #fcdd33;
  font-size: 13px;
  /* font-weight: 400; */
}

.top-section {
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.insights {
  position: relative;
  border: 1px solid magenta;
  margin: 0 0.5em;
  z-index: -1;
}

.insights-img {
  width: 100%;
}

.insights-inner-div {
  position: absolute;
  bottom: 1em;
  color: #fff;
  left: 1em;
}