* {
  margin: 0;
  padding: 0;  
}

body {
  box-sizing: border-box;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: Avalon, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5em;
}

.p {
  margin-bottom: 0.45rem;
  font-family: Shentox, sans-serif;
  font-weight: 500;
}

.pp {
  font-size: 10px;
  margin-top: 0.45rem;
}

header {
  width: 100%;
  max-width: 750px;
  position: fixed;
  background: #fff;
}

.second-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 50px;
  padding: 0.75em;
  border: 1px solid magenta;
}

.icons {
  display: flex;
  /* padding: 1em;   */
}

.icons div {
  border: 1px solid magenta;
  padding: 0.75em;
}

.yellow-separator {
  text-align: center;
  max-width: 750px;
  padding: 1.5em;
  background: #fcdd33;
  font-size: 13px;
  /* font-weight: 400; */
}

.top-section {
  display: flex;
  flex-direction: column;
  max-width: 750px;  
}

.insights {
  position: relative;
  border: 1px solid magenta;
  margin: 0.5em;
  z-index: -1;
}

.insights-img {
  width: 100%;  
}

.insights::after {
  display: block;
  position: relative;  
  margin-top: -250px; 
  height: 250px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(89,89,89,0.39) 12%, rgba(0,0,0,0.43) 17%, rgba(102,102,102,0.49) 25%, rgba(44,44,44,0.58) 37%, rgba(71,71,71,0.6) 39%, rgba(17,17,17,0.76) 60%, rgba(43,43,43,0.88) 76%, rgba(40,40,40,200) 79%, rgba(28,28,28,255) 91%, rgba(19,19,19,255) 100%);
  content: '';
}

.insights-inner-div {  
  position: absolute;
  bottom: 1em;
  color: #fff;
  left: 1em;
  z-index: 1;
}

